<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Research" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <p class="data-type">
        <f:translate key="mpdbresearch.person" />
    </p>
    <h1 class="current-item">{person.name}</h1>
    <f:link.action action="show" arguments="{person:person.uid}" id="link-to-current-page" />
    <div class="clearfix"></div>

    <div class="entity-wrap">
        <div class="entity-sidebar">
            <div class="person-authority-info">
                <p class="authority-set">
                    <f:link.external target="_blank" uri="https://d-nb.info/{person.gnd_id}">
                        {person.gnd_id}
                        <core:icon identifier="mpdb_presentation-gnd"/>
                    </f:link.external>
                </p>
                <table>
                    <tr>
                        <td>
                            <f:translate key="mpdbresearch.lifeData" />
                        </td>
                        <td>
                            <f:if condition="{person.date_of_birth}&{person.date_of_death}">
                                <f:then>
                                    <span id="date-of-birth">
                                        {person.date_of_birth->f:format.date(format:'d.m.Y')}
                                    </span>
                                    <f:if condition="{person.placeOfBirth}">
                                        ({person.place_of_birth})
                                    </f:if>
                                    &ndash;
                                    <span id="date-of-death">
                                        {person.date_of_death->f:format.date(format:'d.m.Y')}
                                    </span>
                                    <f:if condition="{person.place_of_death}">
                                        ({person.place_of_death})
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <em>
                                        <f:translate key="mpdbresearch.unknown" />
                                    </em>
                                </f:else>
                            </f:if>
                        </td>
                        <f:if condition="{person.place_of_activitiy}">
                            <tr>
                                <td>
                                    <f:translate key="LLL:EXT:dmnorm/Resources/Private/Language/locallang_csh_person:mpdbcore.person.placeOfActivity" />
                                </td>
                                <td>
                                    {person.place_of_activitiy}
                                </td>
                            </tr>
                        </f:if>
                        <f:if condition="{person.geographic_area_code}">
                            <tr>
                                <td>
                                    <f:translate key="geographic_area_code" extensionName="DmNorm" />
                                </td>
                                <td>
                                    {person.geographic_area_code}
                                </td>
                            </tr>
                        </f:if>
                        <f:if condition="{person.gender}">
                            <tr>
                                <td>
                                    <f:translate key="LLL:EXT:dmnorm/Resources/Private/Language/locallang_csh_person:person.gender" />
                                </td>
                                <td>
                                    {person.gender}
                                </td>
                            </tr>
                        </f:if>
                    </tr>
                </table>
                <p class="info">
                    <f:translate key="mpdbresearch.gndDisclaimer" />
                </p>
            </div>
        </div>
        <div class="graph-container">
            <div id="{graphTarget}"></div>
            <div id="{dashboardTarget}"></div>
            <div id="{tableTarget}"> </div>
        </div>
    </div>

    <f:format.htmlentitiesDecode>{personGraph}</f:format.htmlentitiesDecode>

    <h3>
        <f:translate key="mpdbresearch.worksBy" arguments="{0:person.name}" />
    </h3>
    <f:if condition="{person.works}">
        <f:then>
            <ul>
                <f:for each="{person.works}" as="work">
                    <li>
                        <f:link.action action="show" arguments="{work:work.uid}" controller="Work">
                            {work.full_title}<f:if condition="{work.opus_no}">, op. {work.opus_no}</f:if>
                        </f:link.action>
                        <small>
                            <f:translate key="mpdbresearch.publishedBy" arguments="{0:work.publishers}" />
                        </small>
                    </li>
                </f:for >
            </ul>
        </f:then>
        <f:else>
            <em> 
                <f:translate key="mpdbresearch.noWorksFound" arguments="{0:person.name}" />
            </em>
        </f:else>
    </f:if>

    {visualizationCall->f:format.raw()}
</f:section>

<f:section name="wrap"/>

<f:section name="sidebar"/>
</html>
