<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="list-view-work">
        <span class="list-view-symbol">
            {indices.work.symbol}
        </span>
        <f:link.external uri="https://d-nb.info/gnd/{entity._id}" target="_blank">
            <span class="list-view-id">
                {entity._id}
            </span>
        </f:link.external>
        <f:link.action action="show" controller="Work" arguments="{work:entity._source.uid}">
            <span class="list-view-title">
                {entity._source.full_title}
            </span>
        </f:link.action>
        <span class="list-view-composer">
            {entity._source.composers.0.name}
        </span>
        <span class="list-view-publishers">
            {entity._source.publishers}
        </span>
    </div>
    <div class="list-view-work_editions">
        <f:for each="{entity._source.published_items}" as="item">
            <span class="list-view-id">
                {item.mvdb_id}
            </span>
        </f:for>
    </div>
</html>
