<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Research" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <f:flashMessages />
    <f:switch expression="{publishedItem.type}">
        <f:case value="work">
            <f:variable name="collection" value="" />
            <f:variable name="adaptation" value="" />
        </f:case>
        <f:case value="collection full">
            <f:variable name="collection" value="1" />
            <f:variable name="adaptation" value="" />
        </f:case>
        <f:case value="collection part">
            <f:variable name="collection" value="1" />
            <f:variable name="adaptation" value="" />
        </f:case>
        <f:case value="collection blackbox">
            <f:variable name="collection" value="1" />
            <f:variable name="adaptation" value="" />
        </f:case>
        <f:case value="adaptation">
            <f:variable name="collection" value="" />
            <f:variable name="adaptation" value="1" />
        </f:case>
        <f:case value="educational">
            <f:variable name="collection" value="" />
            <f:variable name="adaptation" value="" />
        </f:case>
        <f:case value="theoretic">
            <f:variable name="collection" value="" />
            <f:variable name="adaptation" value="" />
        </f:case>
    </f:switch>

    <p class="data-type">
        <f:translate key="mpdbresearch.publishedItem" />
    </p>
    <h1 class="current-item">{publishedItem.title}</h1>
    <f:link.action action="show" arguments="{publishedItem:publishedItem}" id="link-to-current-page" />
    <div class="clearfix"></div>

    <div class="entity-wrap">
        <div class="entity-sidebar">
            <div class="makro-info">
                <div class="content">
                    <h4> {publishedItem.mvdbId} </h4>
                    <span data-tooltip title="{f:translate(key:'mpdbresearch.typeTooltip')}">
                        <f:translate key="LLL:EXT:mpdb_core/Resources/Private/Language/locallang_csh_publisheditem.xlf:type.{publishedItem.type}" />
                    </span>
                    <table>
                            <f:debug>{publishedItem}</f:debug>
                        <f:if condition="{publishedItem.editors.0}">
                            <tr>
                                <td>
                                    <f:translate key="LLL:EXT:mpdb_core/Resources/Private/Language/locallang_csh_publisheditem.xlf:editor" />
                                </td>
                                <td>
                                    {publishedItem.editors.0.name}
                                    <f:if condition="{publishedItem.editor.dateOfBirth}">
                                        <span data-tooltip title="*{publishedItem.editor.dateOfBirth->f:format.date(format:'d.m.Y')}, {publishedItem.editor.placeOfBirth}, &#x271D;{publishedItem.editor.dateOfDeath->f:format.date(format:'d.m.Y')}, {publishedItem.editor.placeOfDeath}">
                                            ({publishedItem.editor.dateOfBirth->f:format.date(format:'Y')}&ndash; 
                                            {publishedItem.editor.dateOfDeath->f:format.date(format:'Y')})
                                        </span>
                                    </f:if>
                                </td>
                            </tr>
                        </f:if>
                        <f:if condition="{publishedItem.genre}">
                            <tr>
                                <td>
                                    <f:translate key="genre" extensionName="DmNorm" />
                                </td>
                                <td>
                                    <f:for each="{publishedItem.genre}" as="genre">
                                        <span>
                                            {genre.name}
                                        </span>
                                    </f:for>
                                </td>
                            </tr>
                        </f:if>
                        <f:if condition="{publishedItem.instruments}">
                            <tr>
                                <td>
                                    <f:translate key="mediumOfPerformance" extensionName="DmNorm" />
                                </td>
                                <td>
                                    <f:for each="{publishedItem.instruments}" as="instrument">
                                        <span class="comma">
                                            {instrument.name}
                                        </span>
                                    </f:for>
                                </td>
                            </tr>
                        </f:if>
                    </table>
                </div>
            </div>
            <div class="published-item-container">
                <f:if condition="{collection}">
                    <h2>
                        <f:translate key="mpdbresearch.containedWorks" />
                    </h2>
                </f:if>
                <f:if condition="{adaptation}">
                    <h2>
                        <f:translate key="mpdbresearch.editedWork" />
                    </h2>
                </f:if>
                <f:if condition="!{collection}&&!{adaptation}">
                    <h2>
                        <f:translate key="mpdbresearch.containedWork" />
                    </h2>
                </f:if>
                <div class="work-info{f:if(condition:'{collection}',then:'-collection')}">
                    <f:if condition="{publishedItem.containedWorks}">
                        <f:then>
                            <ul>
                                <f:for each="{publishedItem.containedWorks}" as="work">
                                    <li>
                                        <p class="authority-set">
                                            <f:translate key="mpdbresearch.gndDisclaimer" />
                                            <f:link.external target="_blank" uri="https://d-nb.info/{work.gndId}">
                                                {work.gndId}
                                                <core:icon identifier="mpdb_presentation-gnd"/>
                                            </f:link.external>
                                        </p>
                                        <p class="lead">
                                            <f:link.action action="show" controller="Work" arguments="{work:work}">
                                                <span class="work-title">
                                                    {work.fullTitle}
                                                </span>
                                            </f:link.action>
                                        </p>
                                        <f:if condition="{work.firstcomposer.name}">
                                            <p>
                                                <f:link.action action="show" controller="Person" arguments="{person:work.firstcomposer}">
                                                    {work.firstcomposer.name}
                                                </f:link.action>
                                                <f:if condition="{work.firstcomposer.dateOfBirth}">
                                                    <span data-tooltip title="*{work.firstcomposer.dateOfBirth->f:format.date(format:'d.m.Y')}, {work.firstcomposer.placeOfBirth}, &#x271D;{work.firstcomposer.dateOfDeath->f:format.date(format:'d.m.Y')}, {work.firstcomposer.placeOfDeath}">
                                                        ({work.firstcomposer.dateOfBirth->f:format.date(format:'Y')}&ndash; 
                                                        {work.firstcomposer.dateOfDeath->f:format.date(format:'Y')})
                                                    </span>
                                                </f:if>
                                            </p>
                                        </f:if>
                                        <p>
                                        <f:if condition="{work.genre}">
                                            <f:for each="{work.genre}" as="genre">
                                                    <span> {genre.name}</span>
                                            </f:for>
                                        </f:if>
                                        <f:if condition="{work.instruments}">
                                            <f:translate key="mpdbresearch.for" />
                                            <f:for each="{work.instruments}" as="instrument">
                                                    <span class="comma"> {instrument.name}</span>
                                            </f:for>
                                        </f:if>
                                        </p>
                                    </li>
                                </f:for>
                            </ul>
                        </f:then>
                        <f:else>
                            <f:translate key="mpdbresearch.noWorkData" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
        <div class="graph-container">
            <f:if condition="{publisherActions.0}">
                <f:then>
                    <div id="{graphTarget}"></div>
                    <div id="{dashboardTarget}"></div>
                    <div id="{tableTarget}"> </div>
                    {visualizationCall->f:format.raw()}
                </f:then>
                <f:else>
                    <h3>
                        <f:translate key="mpdbresearch.noEconomicData" />
                    </h3>
                    <p>
                        <f:translate key="mpdbresearch.noEconomicDataParagraph" />
                    </p>
                </f:else>
            </f:if>
        </div>
    </div>


</f:section>

<f:section name="wrap" />
<f:section name="sidebar" />
</html>
