<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Research" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <f:flashMessages />
    <p class="data-type">
        <f:translate key="mpdbresearch.work" />
    </p>
    <h1 class="current-item">
        <span id="work-title">
            {work.fullTitle}
        </span>
        <f:if condition="{work.opusNo}">
            <small> op. {work.opusNo} </small>
        </f:if>
        <f:if condition="{work.indexNo}">
            <small> {work.indexNo} </small>
        </f:if>
    </h1>
    <f:link.action action="show" arguments="{work:work}" id="link-to-current-page" />
    <div class="clearfix"></div>

    <div class="entity-wrap">
        <div class="entity-sidebar">
            <div class="work-authority-info">
                <p class="authority-set">
                    <f:link.external target="_blank" uri="https://d-nb.info/{work.gndId}">
                        {work.gndId}
                        <core:icon identifier="mpdb_presentation-gnd"/>
                    </f:link.external>
                </p>
                <table>
                    <tr>
                        <td>
                            <f:translate key="LLL:EXT:dmnorm/Resources\Private\Language\locallang_csh_work:genericTitle" />
                        </td>
                        <td>
                            {work.genericTitle}
                        </td>
                    </tr>
                    <f:if condition="{altTitles}">
                        <f:for each="{altTitles}" as="title">
                            <tr>
                                <td>
                                    <f:translate key="LLL:EXT:dmnorm/Resources/Private/Language/locallang_csh_work:altTitles" />
                                </td>
                                <td>
                                    {title}
                                </td>
                            </tr>
                        </f:for>
                    </f:if>
                    <f:if condition="{work.titleNo}||{work.titleInstrument}||{work.tonality}">
                        <tr>
                            <td>
                                <f:translate key="mpdbresearch.supplementingTitleInfo" />
                            </td>
                            <td>
                                <f:if condition="{work.titleNo}">
                                    <span id="title-no">
                                        <f:translate key="LLL:EXT:dmnorm/Resources/Private/Language/locallang_csh_work:titleNo" />:
                                        {work.titleNo}
                                    </span>
                                </f:if>
                                <f:if condition="{work.titleInstrument}">
                                    <span id="title-instrument">
                                        <f:translate key="LLL:EXT:dmnorm/Resources/Private/Language/locallang_csh_work:titleInstrument" />:
                                        {work.titleInstrument}
                                    </span>
                                </f:if>
                                <f:if condition="{work.tonality}">
                                    <span id="tonality">
                                        <f:translate key="LLL:EXT:dmnorm/Resources/Private/Language/locallang_csh_work:tonality" />:
                                        {work.tonality}
                                    </span>
                                </f:if>
                            </td>
                        </tr>
                    </f:if>
                    <tr>
                        <td>
                            <f:translate key="LLL:EXT:dmnorm/Resources/Private/Language/locallang_csh_work:firstComposer" />
                        </td>
                        <td>
                            <f:if condition="{work.firstcomposer}">
                                <f:then>
                                    <f:link.action action="show" controller="Person" arguments="{person:work.firstcomposer}">
                                        {work.firstcomposer.name}
                                    </f:link.action>
                                    <f:if condition="{work.firstcomposer.dateOfBirth}">
                                        <span data-tooltip title="*{work.firstcomposer.dateOfBirth->f:format.date(format:'d.m.Y')}, {work.firstcomposer.placeOfBirth}, &#x271D;{work.firstcomposer.dateOfDeath->f:format.date(format:'d.m.Y')}, {work.firstcomposer.placeOfDeath}">
                                            ({work.firstcomposer.dateOfBirth->f:format.date(format:'Y')}&ndash; 
                                            {work.firstcomposer.dateOfDeath->f:format.date(format:'Y')})
                                        </span>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <em>
                                        <f:translate key="mpdbpresentation.unknown" />
                                    </em>
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                    <f:if condition="{work.dateOfProduction}">
                        <tr>
                            <td>
                                <f:translate key="LLL:EXT:dmnorm/Resources/Private/Language/locallang_csh_work:dateOfProduction" />:
                            </td>
                            <td>
                                {work.dateOfProduction->f:format.date(format:'Y')}
                            </td>
                        </tr>
                    </f:if>
                    <f:if condition="{work.geographicAreaCode}">
                        <tr>
                            <td>
                                <f:translate key="geographicAreaCode" extensionName="DmNorm" />
                            </td>
                            <td>
                                {work.geographicAreaCode}
                            </td>
                        </tr>
                    </f:if >
                    <f:if condition="{work.form}">
                        <tr>
                            <td>
                                <f:translate key="genre" extensionName="DmNorm" />
                            </td>
                            <td>
                                <f:for each="{work.form}" as="form">
                                    <span class="comma">
                                        {form.name}
                                    </span>
                                </f:for>
                            </td>
                        </tr>
                    </f:if>
                    <f:if condition="{work.instruments}">
                        <tr>
                            <td>
                                <f:translate key="mediumOfPerformance" extensionName="DmNorm" />
                            </td>
                            <td>
                                <f:for each="{work.instruments}" as="instrument">
                                    <span class="comma">
                                        {instrument.name}
                                    </span>
                                </f:for>
                            </td>
                        </tr>
                    </f:if>
                </table>
            </div>
        </div>
        <div class="graph-container">
            <div id="{graphTarget}"> </div>
            <div id="{dashboardTarget}"></div>
            <div id="{tableTarget}"> </div>
        </div>
    </div>

    <f:if condition="{subWorks}">
        <h3>
            <f:translate key="mpdbresearch.partialWorks" />
        </h3>
        <ul>
            <f:for each="{subWorks}" as="subWork">
                <li> 
                    <span class="title"> {subWork.subWork.fullTitle} </span>
                    <f:if condition="{subWork.subWork.opusNo}">
                        <small> op. {subWork.subWork.opusNo} </small>
                    </f:if>
                    <f:if condition="{subWork.subWork.indexNo}">
                        <small> {subWork.subWork.indexNo} </small>
                    </f:if>
                    <f:link.external uri="https://d-nb.info/{work.gndId}" target="_blank">
                        ({subWork.subWork.gndId})
                    </f:link.external>
                    <f:if condition="{subWork.makros}">
                        <f:translate key="mpdbresearch.printedIn" />
                        <f:for each="{subWork.makros}" as="makro">
                            <f:link.action action="show" controller="PublisherMakroItem" arguments="{publisherMakroItem:makro}">
                                {makro.mvdbId}: {makro.title}
                            </f:link.action>
                        </f:for>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </f:if>

	<f:if condition="!{subWorks}||{publisherMakroItems}">
        <h3>
            <f:translate key="mpdbresearch.printedIn" />
        </h3>

		<f:if condition="{publisherMakroItems}">
			<f:then>
				<ul class="printed-in">
					<f:for each="{publisherMakroItems}" as="publisherMakroItem">
						<li>
							<f:link.action action="show" controller="PublisherMakroItem" arguments="{publisherMakroItem:publisherMakroItem}">
								{publisherMakroItem.mvdbId}: {publisherMakroItem.title}
							</f:link.action>
						</li>
					</f:for >
				</ul>
			</f:then>
			<f:else>
				<em>
                    <f:translate key="mpdbresearch.workNotPrinted" />
                </em>
			</f:else>
		</f:if>
	</f:if>

    {visualizationCall->f:format.raw()}
</f:section>

<f:section name="wrap"/>
<f:section name="sidebar"/>

</html>
