<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Research" />

    This Template is responsible for displaying a single view for a domain object

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    Show.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="content">
        <f:flashMessages />
        <p class="data-type">
            <f:translate key="mpdbresearch.work" />
        </p>
        <h1 class="current-item">
            <span id="work-title">
                {work.full_title}
            </span>
            <f:if condition="{work.opus_no}">
                <small> op. {work.opus_no} </small>
            </f:if>
            <f:if condition="{work.index_no}">
                <small> {work.index_no} </small>
            </f:if>
        </h1>
        <f:link.action action="show" arguments="{work:work}" id="link-to-current-page" />
        <div class="clearfix"></div>

        <div class="entity-wrap">
            <div class="entity-sidebar">
                <div class="work-authority-info">
                    <p class="authority-set">
                        <f:link.external target="_blank" uri="https://d-nb.info/{work.gnd_id}">
                            {work.gnd_id}
                            <core:icon identifier="mpdb_presentation-gnd"/>
                        </f:link.external>
                    </p>
                    <table>
                        <tr>
                            <td>
                                <f:translate key="LLL:EXT:dm_norm/Resources/Private/Language/locallang_csh_work:genericTitle" />
                            </td>
                            <td>
                                {work.generic_title}
                            </td>
                        </tr>
                        <f:if condition="{altTitles}">
                            <f:for each="{altTitles}" as="title">
                                <tr>
                                    <td>
                                        <f:translate key="LLL:EXT:dm_norm/Resources/Private/Language/locallang_csh_work:altTitles" />
                                    </td>
                                    <td>
                                        {title}
                                    </td>
                                </tr>
                            </f:for>
                        </f:if>
                        <f:if condition="{work.title_no}||{work.title_instrument}||{work.tonality}">
                            <tr>
                                <td>
                                    <f:translate key="mpdbresearch.supplementingTitleInfo" />
                                </td>
                                <td>
                                    <f:if condition="{work.title_no}">
                                        <span id="title-no">
                                            <f:translate key="LLL:EXT:dm_norm/Resources/Private/Language/locallang_csh_work:titleNo" />:
                                            {work.title_no}
                                        </span>
                                    </f:if>
                                    <f:if condition="{work.title_instrument}">
                                        <span id="title-instrument">
                                            <f:translate key="LLL:EXT:dm_norm/Resources/Private/Language/locallang_csh_work:titleInstrument" />:
                                            {work.title_instrument}
                                        </span>
                                    </f:if>
                                    <f:if condition="{work.tonality}">
                                        <span id="tonality">
                                            <f:translate key="LLL:EXT:dm_norm/Resources/Private/Language/locallang_csh_work:tonality" />:
                                            {work.tonality}
                                        </span>
                                    </f:if>
                                </td>
                            </tr>
                        </f:if>
                        <tr>
                            <td>
                                <f:translate key="LLL:EXT:dm_norm/Resources/Private/Language/locallang_csh_work:firstComposer" />
                            </td>
                            <td>
                                <f:if condition="{work.composers}">
                                    <f:then>
                                        <f:link.action action="show" controller="Person" arguments="{person:work.composers.0.uid}">
                                            {work.composers.0.name}
                                        </f:link.action>
                                        <f:if condition="{work.composers.0.dateOfBirth}">
                                            <span data-tooltip title="*{work.composers.0.dateOfBirth->f:format.date(format:'d.m.Y')}, {work.composers.0.placeOfBirth}, &#x271D;{work.composers.0.dateOfDeath->f:format.date(format:'d.m.Y')}, {work.composers.0.placeOfDeath}">
                                                ({work.composers.0.dateOfBirth->f:format.date(format:'Y')}&ndash; 
                                                {work.composers.0.dateOfDeath->f:format.date(format:'Y')})
                                            </span>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <em>
                                            <f:translate key="mpdbpresentation.unknown" />
                                        </em>
                                    </f:else>
                                </f:if>
                            </td>
                        </tr>
                        <f:if condition="{work.date_of_production}">
                            <tr>
                                <td>
                                    <f:translate key="LLL:EXT:dm_norm/Resources/Private/Language/locallang_csh_work:dateOfProduction" />
                                </td>
                                <td>
                                    {work.date_of_production->f:format.date(format:'Y')}
                                </td>
                            </tr>
                        </f:if>
                        <f:if condition="{work.geographic_area_code}">
                            <tr>
                                <td>
                                    <f:translate key="geographicAreaCode" extensionName="DmNorm" />
                                </td>
                                <td>
                                    {work.geographic_area_code}
                                </td>
                            </tr>
                        </f:if >
                        <f:if condition="{work.genres}">
                            <tr>
                                <td>
                                    <f:translate key="genre" extensionName="DmNorm" />
                                </td>
                                <td>
                                    <f:for each="{work.genres}" as="genre">
                                        <span class="comma">
                                            {genre.name}
                                        </span>
                                    </f:for>
                                </td>
                            </tr>
                        </f:if>
                        <f:if condition="{work.instruments}">
                            <tr>
                                <td>
                                    <f:translate key="mediumOfPerformance" extensionName="DmNorm" />
                                </td>
                                <td>
                                    <f:for each="{work.instruments}" as="instrument">
                                        <span class="comma">
                                            {instrument.name}
                                        </span>
                                    </f:for>
                                </td>
                            </tr>
                        </f:if>
                    </table>
                </div>
            </div>
            <div class="graph-container">
                <f:if condition="{hasPrints}">
                    <f:then>
                        <div class="{dashboardTarget}"></div>
                        <div id="{graphTarget}"> </div>
                        <div class="{dashboardTarget}"></div>
                        <div id="{tableTarget}"> </div>
                        <div class="{dashboardTarget}"></div>
                        {visualizationCall->f:format.raw()}
                    </f:then>
                    <f:else>
                        <h3>
                            <f:translate key="mpdbresearch.noEconomicData" />
                        </h3>
                        <p>
                            <f:translate key="mpdbresearch.noEconomicDataParagraph" />
                        </p>
                    </f:else>
                </f:if>
            </div>
        </div>

        <f:if condition="{subWorks}">
            <h3>
                <f:translate key="mpdbresearch.partialWorks" />
            </h3>
            <ul>
                <f:for each="{subWorks}" as="subWork">
                    <li> 
                        <span class="title"> {subWork.subWork.fullTitle} </span>
                        <f:if condition="{subWork.subWork.opusNo}">
                            <small> op. {subWork.subWork.opusNo} </small>
                        </f:if>
                        <f:if condition="{subWork.subWork.indexNo}">
                            <small> {subWork.subWork.indexNo} </small>
                        </f:if>
                        <f:link.external uri="https://d-nb.info/{work.gndId}" target="_blank">
                            ({subWork.subWork.gndId})
                        </f:link.external>
                        <f:if condition="{subWork.makros}">
                            <f:translate key="mpdbresearch.printedIn" />
                            <f:for each="{subWork.makros}" as="makro">
                                <f:link.action action="show" controller="PublisherMakroItem" arguments="{publisherMakroItem:makro}">
                                    {makro.mvdbId}: {makro.title}
                                </f:link.action>
                            </f:for>
                        </f:if>
                    </li>
                </f:for>
            </ul>
        </f:if>

        <f:if condition="{work.published_items}">
            <f:then>
                <h3>
                    <f:translate key="mpdbresearch.printedIn" />
                </h3>

                <ul class="printed-in">
                    <f:for each="{work.published_items}" as="item">
                        <li>
                            <f:link.action action="show" controller="PublishedItem" arguments="{publishedItem:item.uid}">
                                {item.mvdb_id}: {item.title}
                            </f:link.action>
                        </li>
                    </f:for >
                </ul>
            </f:then>
            <f:else>
                <em>
                    <f:translate key="mpdbresearch.workNotPrinted" />
                </em>
            </f:else>
        </f:if>
    </f:section>

    <f:section name="wrap"/>
    <f:section name="sidebar"/>

</html>
