div.entity-list-item {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-color: lightgray;
  border-width: 1px;
}
div.entity-list-item a {
  font-weight: bold;
}
div.entity-list-item a:hover {
  text-decoration: none;
}
div.entity-list-item div.entity-type {
  margin-bottom: -10px;
}
div.entity-list-item div.entity-title a {
  font-size: 150%;
  color: black;
}
div.entity-list-item div.entity-preview {
  font-size: 90%;
  max-height: 2.7em;
  overflow: hidden;
  text-overflow: "...";
  color: darkgray;
}
div.entity-list-item span.entity-life-span,
div.entity-list-item span.entity-date-of-production,
div.entity-list-item span.entity-composer {
  margin-right: 30px;
}
div.entity-list-item div.index-picker {
  @include pagination-container;
}
div#tx_mpdbpresentation_table {
  width: 100%;
  max-width: 1200px;
  overflow: auto;
}
