<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

{namespace mpdbpres=Slub\MpdbPresentation\ViewHelpers}

    <f:form action="search" controller="Index" class="form-inline" pluginName="mpdbresearch" pageUid="{settings.researchPage.pid}">
        <div class="input-group">
            <f:form.textfield name="config[searchTerm]" class="input-group-field" value="{config.searchTerm}" placeholder="{f:translate(key:'mpdbresearch.search')}" id="main-search" />
            <div class="input-group-button">
                <f:form.button class="hollow button" id="search-button">
                    <core:icon identifier="mpdb_presentation-search" size="large"/>
                </f:form.button>
                <f:variable name="searchconfig">{mpdbpres:setConfig(config:searchConfig,key:'searchTerm',value:'')}</f:variable>
                <f:link.action action="search" arguments="{config:searchconfig}" class="button" id="reset-button">
                    X
                </f:link.action>
            </div>
        </div>
    </f:form>
</html>
